<ul class="list-separator nav navbar-nav well-primary {{ page.layout }}">
	{% for i in site.data.urls %}
		{% assign current = nil %}
		{% assign pageurl = page.url | split:'/' | last %}
		{% assign menuurl = i.[page.lang].url | split:'/' | last %}
		{% assign linkurl = nil %}
		{% if i.[page.lang].url contains '://' %}
			{% assign linkurl = i.[page.lang].url %}
		{% else %}
			{% assign linkurl = i.[page.lang].url | prepend: site.baseurl %}
		{% endif %}
		{% assign target = i.[page.lang].target %}
	    {% unless target %} {% assign target = '_self' %} {% endunless %}
		{% if pageurl == menuurl or page.layout == i.[page.lang].layout %} {% assign current = 'current-menu-item' %} {% endif %}
		<li class="col-lg-12 col-md-12 col-sm-4 col-xs-12 {{ current }} {{ pageurl }}">
			<a href="{{ linkurl }}" target="{{ target }}"><i class="fa {{ i.[page.lang].icon }}"></i> {{ i.[page.lang].text }} </a>
		</li>
	{% endfor %}
</ul>
